nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #000;
}
.logoImg {
  width: 80px;
  height: 80px;
}
h1 {
  font-size: 30px;
}
.navLiks {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  padding: 20px;
}
.login {
  display:flex;
  position: absolute;
  right: 0;
  padding: 20px;
}
.icon {
  width: 30px;
  height: 30px;
}

Link {
  color: #e50914;
}
li:hover {
  color: #e50914;
  background-color: #380205;
}

@media (max-width: 768px) {
  .navTitle {
    display: none;
  }
  .logoImg {
    max-width: 60px;
    max-height: 60px;
  }
}
