:root {
  --text: #121212;
  --primary: #e50914;
  --secondary: #ffdad5;
  --text1: #ffdad6;
  --on-background: #e5e2e1;
  --background: #131313;
}

body {
  margin: 0%;
  background-color: #121212;
  color: #e5e2e1;
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #121212;
    --primary: #e50914;
    --secondary: #ffdad5;
    --text1: #ffdad6;
    --on-background: #e5e2e1;
    --background: #131313;
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  color: var(--primary);
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
